
<div class="container mt-5">
    <h1>{{title}}</h1>
    <p>Mi reporte {{title}}</p> 
</div>
 <div class="container">
            <div class="card mt-5">
                    <h5 class="card-header text-center">Mi talba reporte</h5>
                    <div class="card-body">
                      <h5 class="card-title">Equipos</h5>
                      <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                  <div class="card text-center mt-5">
                        <div class="card-header">
                          Mi reporte prueba
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Sub titulo reporte</h5>
                          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sapiente perspiciatis nulla nihil aut ad natus libero, voluptates aperiam vitae architecto? Molestiae natus quibusdam itaque nobis autem incidunt quasi quae.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                          2 days ago
                        </div>
                      </div>
    </div>
